@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    
    --primary-bg-clr: #FFFFFF;
    
    --secondary-clr-header: #12372A;
    --accent-clr-yellow: #F1C30C;
    
    --accent-clr-hero-bg: #12372ACC;
    
    --accent-clr-offwhite: #F1FFEA;
    
    --square-clr-grey: #ECECEC;
    
    --bg-clr-beige: #FAF8EC;
    
    --testimonials-accent-clr-80: rgba(18, 55, 42, 0.8);

    --why-choose-us-bg-clr: #FAF8EC;

    --unit-card-bg-clr: #F1FFEA;

    --booknow-bg-clr: #12372ACC;
}

html, body{
    font-family: inter;
}
.container{
    width: auto;
}

.margin-wrapper{
    max-width: 1320px;
    margin: 95px auto;
}
.book-now-btn{

        background-color: var(--accent-clr-yellow);
        color: var(--secondary-clr-header);

        font-size: 15px;
        font-weight: 600;
        border-radius: 5px;
        padding: 1rem 2rem;

        border: 1px solid var(--accent-clr-yellow);
        
}
.discover-more-btn{

    background-color: var(--accent-clr-yellow);
        color: var(--secondary-clr-header);

        font-size: 15px;
        font-weight: 600;
        border-radius: 5px;
        padding: .8rem 1.8rem;

        border: 1px solid var(--accent-clr-yellow);
}

.top-bar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    background-color: var(--secondary-clr-header);
    color: var(--primary-bg-clr);

    .header-contact-info{
        display: flex;
        align-items: center;
        margin-left: 4rem;
        gap: 2rem;

        .top-bar-phone{
            display: flex;
            gap: .5rem;
            
        }
        .top-bar-contact{
            display: flex;
            gap: .5rem;
        }

    }
    .header-socials-links{
        display: flex;
        align-items: center;
        margin-right: 4rem;
        gap: 1rem;
    }

}

.nav-menu{
    height: 90px;
    background-color: var(--primary-bg-clr);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 4rem 0rem 4rem;

    font-family: urbanist;
    font-weight: 600;
    font-size: 18px;

    .nav-menu-icon{

    }

    .nav-menu-options{
        display: flex;
        gap: 2rem;
    }    
}

.hero-container{
    background-color: var(--accent-clr-hero-bg);
    font-family: urbanist;

    h4{
        font-weight: 700;
        font-size: 25px;
        color: var(--accent-clr-yellow);
    }
    h1{
        font-weight: 700;
        font-size: 80px;
        color: var(--accent-clr-offwhite);
        line-height: 80px;
        margin-bottom: 20px;
    }
    p{
        font-size: 16px;
        color: var(--primary-bg-clr);
        margin-right: 30px;
        margin-bottom: 20px;
        line-height: 24px;
    }

    .hero-box{
        display: flex;
        margin-left: 275px;
        margin-right: 275px;
        gap: 150px;

        .hero-text{
            width: 735px;
            margin-top: 180px;
        }
        .hero-image{
            display: flex; 
            width: 462px;
            margin-top: 180px;   
        }
    }
}
.about-us-containers{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--primary-bg-clr);
    font-family: urbanist;

    .about-us-left-container{
        .grey-square{
            height: 440px;
            width: 670px;
            background-color: lightgrey;
            border: 5px solid var(--square-clr-grey);
            position: relative;
        }
        .green-square{
            height: 150px;
            width: 600px;
            background-color: var(--secondary-clr-header);
            position: absolute;
            top: 370px;
            left: 28px;
            border-radius: 15px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            h2{
                color: var(--accent-clr-yellow);
                font-size: 64px;
                font-weight: 800;
            }
            p{
                color: var(--primary-bg-clr);
            }

            .greenbox-one{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .greenbox-two{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .greenbox-three{
                margin-right: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .about-us-right-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top-half-container{
            h4{
                color: var(--accent-clr-yellow);
                font-size: 24px;
            }
            h3{
                color: var(--secondary-clr-header);
                font-size: 52px;

            }
            p{
                color: var(--secondary-clr-header);
                font-family: inter;
            }
        }
        .mid-container{
            display: flex;
            gap: 1rem;
            color: var(--secondary-clr-header);
            margin-top: 2rem;

            h5{
                font-size: 24px;
                margin-bottom: 1rem;
            }

            .vision-box{
                border: 3px solid var(--square-clr-grey);
                border-radius: 5px;
                padding: 1rem;
            }
            .mission-box{
                border: 3px solid var(--accent-clr-yellow);
                border-radius: 5px;
                padding: 1rem;
            }
        }
        .bottom-half-container{
            display: flex;
            margin-top: 2.5rem;
            gap: 5rem;


            .discover-box{

            }

            .more-info-box{

                display: flex;
                gap: 1.5rem;

                h5{
                    font-size: 24px;
                    color: var(--secondary-clr-header);
                }
                h6{
                    font-size: 20px;
                    color: var(--secondary-clr-header);
                }

                .green-circle{
                    background-color: var(--secondary-clr-header);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        

    }
}

.logos-wrapper{
    height: 100px;
    width: 100%;
    background-color: var(--bg-clr-beige);
    margin-top: 8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    

    .logos-items{
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}
.our-services{

    display: flex;
    flex-direction: column;
    color: var(--secondary-clr-header);

    h4{
        font-size: 25px;
    }
    h3{
        font-size: 52px;
    }


    .our-services-upper-box{

        display: flex;
        align-items: center;
        
        .our-services-upper-left-box{
            width: 50%;
           
            h4{
                color: var(--accent-clr-yellow);
            }

        }
        .our-services-upper-right-box{
            width: 50%
            
        }
    }
    .our-services-lower-box{
        display: flex;
        margin-top: 1rem;

        h4{
            margin-bottom: 1rem;
        }

        .our-services-lower-box-1{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 1rem;

            .diverse-unit-size-box{
                border: 3px solid var(--accent-clr-yellow);
                border-radius: 5px;
                padding: 1rem;
                margin-bottom: 1rem;
                
            }
            .moving-assistance-box{
                border: 3px solid var(--square-clr-grey);
                border-radius: 5px;
                padding: 1rem;
            }
        }
        .our-services-lower-box-2{
            .our-services-square{
                width: 520px;
                height: 320px;
                background-color: lightgrey;
                border: 3px solid var(--square-clr-grey);
            }
        }
    }
    .our-services-lower-box-3{
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

      .vehicle-storage-box{
        border: 3px solid var(--square-clr-grey);
        border-radius: 5px;
        padding: 1rem;
        margin-bottom: 1rem;
      } 
      .top-notch-security-box{
        border: 3px solid var(--square-clr-grey);
                border-radius: 5px;
                padding: 1rem;
      }
    }
}



.testimonials-section{

    /* Fick hjälp av ChattGPT att sätta filter på background*/
    min-height: 670px;
    background-image: url('/src/assets/Bg-img-testimonials.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;
        
}
.testimonials-section::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--testimonials-accent-clr-80);
    z-index: 1;  
}

.testimonials-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    justify-content: space-between;
    height: 580px;

    .square{
        height: 300px;
        width: 450px;
        background-color: var(--primary-bg-clr);
        border-radius: 15px;
        padding: 2rem;
    }
    .testimonials-upper-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        h4{
            margin-top: 7rem;
            color: var(--accent-clr-yellow);
            font-size: 25px;
        }
        h3{
            font-size: 52px;
            color: var(--primary-bg-clr);
        }
        p{
           color: var(--primary-bg-clr);
           max-width: 1050px;
           text-align: center;
        }

    }
    .testimonials-lower-box{
        display: flex;
        gap: 1rem;
        img{
            margin-top: 1rem;
        }

        .testimonials-grade{

        }
        .testimonial-comments{

        }
        .customer-info{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .customer-name{
                h6{
                    font-size: 20px;
                }
                display: flex;
                flex-direction: column;
                gap: .5rem;
            }
            .avatar-and-name{
                display: flex;
                gap: 1rem;
            }

        }
        .customer-avatar{
            height: 70px;
            width: 70px;
            background-color: grey;
            border-radius: 50%;
        }
       
        .testimonials-card-1{
            color: var(--secondary-clr-header);
        }
        .testimonials-card-2{
            color: var(--secondary-clr-header);
        }
        .testimonials-card-3{
            color: var(--secondary-clr-header);
        }
    }
}



.why-us-wrapper {
  background-color: var(--why-choose-us-bg-clr);
  padding: 95px 0;

  .why-us-container{
    display: flex;
    gap: 2rem;
    align-items: center;

    .why-us-left-side{
        
        .why-us-title{
            width: 670px;
        }

        h4{
            color: var(--accent-clr-yellow);
            font-size: 25px;
        }
        h3{
            font-size: 52px;
            color: var(--secondary-clr-header);
            text-align:left;
            width: 720px;
            line-height: 52px;
        }

    }
    .why-us-right-side{
        margin-top: 4rem;
        color: var(--secondary-clr-header);

        p{
            text-align: left;
            width: 670px;
        }

            .why-us-square{
                width: 650px;
                height: 420px;
                background-color: lightgrey;
                border: 3px solid var(--square-clr-grey);
                margin: 3rem 0rem;
            }
    }
  }
  
    .margin-wrapper-bg {
        max-width: 1320px;
        margin: auto auto;
    }

    .why-choose-us-information{
        color: var(--secondary-clr-header);
        h5{
            font-size: 24px;
            margin-left: 1rem;
            margin-top: 1rem;
        }
        p{
            margin-left: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        display: flex;
    }
}



.price-plan-top-div{
    margin-bottom: 1rem;
    h4{
        color: var(--accent-clr-yellow);
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 2rem;
    }
    h3{
        color: var(--secondary-clr-header);
        font-size: 52px;
        line-height: 52px;
        width: 650px;
    }
}
.price-plan-bottom-div{
    display: flex;
    gap: 1rem;
    .unit-card{
        width: 320px;
        height: 520px;
        background-color: var(--unit-card-bg-clr);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        text-align: center;
        h5{
            font-size: 24px;
            font-weight: 400;
            margin-top: 2rem;
        }
        color: var(--secondary-clr-header);
        .price-plan-deals{
            display: flex;
            gap: 1rem;
            align-items: flex-start;
            h3{
                font-size: 56px;
                color: var(--accent-clr-yellow);
            }
            h6{
                display: flex;
                margin-top: 2rem;
                font-size: 20px;
            }
        }
        .feature-item{
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;

            .check-icon{
                width: 13px;
                height: 13px;
            }
        }
        h5{
            font-size: 24px;
            color: var(--secondary-clr-header);
        }
        .divider{
            border: none;
            height: 1px;
            width: 260px;
            background-color: var(--secondary-clr-header);
        }
    }
    .unit-card:hover{
        background-color: var(--secondary-clr-header);
        color: var(--unit-card-bg-clr);
        transition: 300ms;
        h5{
            color: var(--unit-card-bg-clr);
        }
    }
    .unit-card:hover .check-icon{
        content: url('../src/assets/Yellow-checkmark-icon.svg');
    }
    .unit-card:hover .divider{
        background-color: var(--unit-card-bg-clr);
    }
}

.booknow-bg{
    background-color: var(--booknow-bg-clr);
    color: var(--why-choose-us-bg-clr);
    height: 440px;
    text-align: center;
    
    h3{
        padding-top: 5rem;
        font-size: 52px;
        width: 1100px;
        margin: 0 auto;
        line-height: 52px;
    }
    p{
        padding-top: 1rem;
        width: 1050px;
        margin: 0 auto;
    }
    button{
        margin-top:1.2rem;
    }   
    
}



